@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    min-width: 260px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
/* slider styles */
.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
.keen-slider__slide {
  width: "300px";
}

#OrangeCon {
  background-color: #eb5a0c;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #eb5a0c 30px
    ),
    repeating-linear-gradient(#a8400855, #a84008);
}
#BlackCon {
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(#fd7617 2px, transparent 2px),
    radial-gradient(#fd7617 2px, #000000 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}
#PNGCon {
  background-image: url("https://user-images.githubusercontent.com/64256342/165560868-8a025a10-992f-46b5-beaf-686aafd78522.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
#BlobCon {
  /* width: 1000px;
  height: 1000px; */
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3ClinearGradient id=%22linearGradientId%22 gradientTransform=%22rotate(-45 0.5 0.5)%22%3E %3Cstop offset=%220%25%22 stop-color=%22%23fd7617%22 %2F%3E %3Cstop offset=%22100%25%22 stop-color=%22%23eb5a0c%22 %2F%3E %3C%2FlinearGradient%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M787.5%2C682.5Q711%2C865%2C526%2C820Q341%2C775%2C175%2C637.5Q9%2C500%2C164%2C343.5Q319%2C187%2C499.5%2C187.5Q680%2C188%2C772%2C344Q864%2C500%2C787.5%2C682.5Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23linearGradientId)%22 d=%22M787.5%2C682.5Q711%2C865%2C526%2C820Q341%2C775%2C175%2C637.5Q9%2C500%2C164%2C343.5Q319%2C187%2C499.5%2C187.5Q680%2C188%2C772%2C344Q864%2C500%2C787.5%2C682.5Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
}

.skeleton-circle-lg, .skeleton-circle-md{
  height: 54px !important;
  width: 54px !important;
}

.banner {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 1000px; /* Width of new image */
  height: 707px; /* Height of new image */
}

/* Socials */
.jello-vertical:hover {
	-webkit-animation: jello-vertical 0.9s both;
	        animation: jello-vertical 0.9s both;
}
 @-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


/* hamburger icon */
.ham-burger {
  position: absolute;
  cursor: pointer;
}

.ham-open .line1 {
  transform: translateY(8px) rotate(45deg);
}

.ham-open .line2 {
  width: 0;
}

.ham-open .line3 {
  transform: translateY(-7px) rotate(-45deg);
}

.lines {
  width: 30px;
  height: 3px;
  background: #183E43;
  display: block;
  margin: 5px 0;
  transition: transform 1s, width 0.5s;
}


.nav-link:hover{
  border-bottom: 2px solid #183E43;
}

.active-nav-link{
  border-bottom: 2px solid #183E43;
}

.active-nav {
  width: 100%;
  height: 9999px;
  background: #f3f3f3;
  transition: 0.7s ease-out;
  top : 0; 
}


@media (max-width : 639px) {
  .nav{
    position: absolute;
    top: -400%;
    width: 100%;
    transition: 0.7s ease-out; 
}
}